@import 'variables';

.medium {
    font-weight: 500;
}

.about {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    overflow-x: clip;
    overflow-y: visible;
    margin-top: 100px;
}

.introduction-bg {
    width: 100%;
    max-width: 1180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.about .introduction {
    display: flex;
    position: relative;
    flex-direction: column;
    color: $primary-color;
    width: 100%;
    gap: 16px;

    & .h1-about {
        position: absolute;
        color: $secondary-color;
        @include font-Aladin;
        top: -67px;
        left: calc(50% - 32px);
        transform: translateX(-50%);
    }

    & .h1-about-me {
        position: absolute;
        top: -67px;
        left: calc(50% + 68px);
        transform: translateX(-50%);
        color: $secondary-color;
        @include font-Aladin;
    }

    & .main-pic {
        max-width: 250px;
        height: auto;
        margin: 12px 0px;
        border-radius: 20px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    }

    .introduction-text {
        background-color: $secondary-color;
        border-radius: 36px;
        padding: 0px 32px;
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 16px;
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .intro-text-2 {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .intro-text-1p {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .intro-text-2p {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    p {
        max-width: 450px;
    }
}


.about .curriculum {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
    background-color: $tertiary-color50;
    margin-top: 98px;
    padding-top: 16px;
    overflow-x: clip;
    overflow-y: visible;

    & .h1-cv {
        @include font-Didot;
        color: darken($tertiary-color, 15%);
        text-align: center;
        line-height: 0.7;
    }
}

.cv-section {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 24px;
    padding: 32px 16px;
    width: 100%;
    max-width: 1060px;
    background-color: rgba($color: $primary-color, $alpha: 0.75);
    border-radius: 36px;

    & .section-headline {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;
        padding-left: 16px;

        & .h3-inline,
        & .h3-inline-x {
            color: $secondary-color;
            @include font-Aladin;
            letter-spacing: 2px;
        }

        & img {
            width: 32px;
            height: auto;
            right: -32px;
        }
    }
}


.cv-section .each-job {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 32px;

    & ul {
        & .date {
            font-size: 14px;
            font-weight: 100;

            &::marker {
                color: darken($tertiary-color, 10%);
            }
        }
    }

    & .job-details {
        display: flex;
        flex: 1;
        position: relative;
        flex-direction: column;
        gap: 4px;
        padding-left: 0px;

        & .h5-cv {
            color: $secondary-color;
            font-weight: 500;
            line-height: 1.2;
        }

        & .address {
            padding-left: 18px;
        }

        & img {
            width: 16px;
            height: 16px;
            position: absolute;
            top: 49px;
            left: -2px;
        }
    }
}


.cv-section .skills {
    display: flex;
    flex-direction: column;
    gap: 40px;

    & h5 {
        color: $secondary-color;
        background-color: $tertiary-color50;
        border-radius: 20px;
        padding: 16px 20px;
        font-weight: 800;
    }

    .hard-skills {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin: 0px 16px;

        & .skill-label {
            color: $secondary-color;
            font-weight: 500;
            padding-left: 20px;
        }

        & .each-skill {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding-bottom: 12px;

            & ul {
                padding-left: 24px;
                display: flex;
                flex-direction: column;
                gap: 4px;

                & .language {
                    font-size: 14px;

                    &::marker {
                        color: darken($tertiary-color, 15%);
                    }
                }

                & .text {
                    list-style-type: none;
                }

                & .bullet {
                    list-style: none;
                }
            }
        }
    }

    & .soft-skills {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin: 0px 16px;

        & ul {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding-left: 20px;

            & .bullet {

                &::marker {
                    color: darken($tertiary-color, 15%);
                }
            }
        }
    }
}


// IPAD (VERTICAL)
@media (min-width: 48rem) {
    .about {
        margin-top: 80px;
    }

    .about .introduction-bg .introduction-text {
        padding-left: 72px;
        padding-right: 72px;
        align-items: center;

        & p {
            text-align: center;
        }
    }

    .introduction-text .intro-text-2 {
        align-items: center;
    }

    .introduction-bg .introduction .h1-about {
        top: -49px;
        left: calc(50% - 45px);
    }

    .introduction-bg .introduction .h1-about-me {
        top: -49px;
        left: calc(50% + 85px);
    }

    .h1-cv{
        font-size: 44px;
    }

    .cv-section {
        padding: 48px;

        & .section-headline {
            // justify-content: center;

            & .h3-inline {
                padding-left: 244px;
                width: 100%;
                padding-bottom: 12px;
            }

            & .h3-inline-x {
                padding-left: 0px;
                width: 100%;
                padding-bottom: 12px;
            }

            & img {
                display: none;
            }
        }
    }

    .about .h1-cv {
        top: -80px;
    }

    .cv-section .each-job {
        display: flex;
        flex-direction: row;
        gap: 32px;

        & ul {
            display: flex;
            width: 200px;
            justify-content: flex-end;

            & .date {
                justify-content: right;
                list-style: none;
            }
        }
    }
}


// DESKTOP
@media (min-width: 56rem) {
    .about {
        margin-top: 20px;
    }

    .introduction-bg {
        background-color: $secondary-color;
        border-radius: 36px;
        margin-top: 100px;
    }

    .about .introduction {
        align-items: center;
        margin: 0 auto;
        width: 100%;

        & .h1-about {
            top: -68px;
            left: 328px;
        }

        & .h1-about-me {
            color: $tertiary-color;
            top: 60px;
            left: 268px;
        }

        p {
            text-align: left;
            width: 520px;
        }

        & .introduction-text {
            background-color: transparent;
            align-items: flex-end;
            gap: 12px;
            padding: 72px;

            & p {
                text-align: start;
                width: 100%;
            }

            & .intro-text-1p {
                padding-left: 294px;
            }
        }
    }

    .about .introduction-bg .intro-text-2 {
        flex-direction: row;
        align-items: center;
        gap: 44px;

        & .main-pic {
            margin: 0px;
        }
    }


    .about .curriculum {
        margin-top: 140px;

        .h1-cv {
            top: -73px;
            font-size: 60px;
        }
    }


    .cv-section {
        padding: 48px;

        & .section-headline {
            & img {
                display: none;
            }

            & .h3-inline-x {
                padding-left: 0px;
            }

            & .h3-inline {
                padding-left: 312px;
            }

            & span {
                top: 27px;
            }
        }

        & .each-job {
            padding-left: 0px;
            max-width: 800px;

            & ul {
                margin-left: 98px;
            }
        }

        & .skills {
            flex-direction: row;
            width: 100%;

            & .hard-skills {
                width: 100%;
            }

            & .soft-skills {
                width: 100%;
            }
        }
    }
}