@import 'variables';

.medium {
    font-weight: 500;
}

.about {

    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    overflow-x: clip;
    overflow-y: visible;

    & .about-title {
        display: flex;
        position: relative;
        width: 100%;
        background-color: $tertiary-color50;
        height: 160px;

        & .h1-about {
            position: absolute;
            // padding: 0px 12px;
            color: $secondary-color;
            @include font-Didot;
            top: 125px;
            left: calc(50% - 40px);
            transform: translateX(-50%);
            letter-spacing: 4px;
        }
    }
}

.introduction-bg {
    width: 100%;
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // overflow-y: hidden;
}


.about .introduction {
    display: flex;
    position: relative;
    flex-direction: column;
    color: $primary-color;
    width: 100%;
    gap: 16px;

    & .h1-about-me {
        position: absolute;
        top: 125px;
        left: calc(50% + 60px);
        transform: translateX(-50%);
        // padding: 0px 12px;
        color: $secondary-color;
        @include font-Didot;
        letter-spacing: 4px;
    }

    & .main-pic {
        max-width: 250px;
        height: auto;
        margin: 12px 0px;

    }

    .introduction-text {
        padding: 0px 32px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-top: 32px;
        padding-bottom: 48px
    }


    p {
        max-width: 500px;

        // & .medium {
        //     font-weight: 500;
        // }
    }
}




.about .curriculum {

    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    background-color: $tertiary-color50;
    margin-top: 120px;
    padding-top: 16px;
    overflow-x: clip;
    overflow-y: visible;
}


.cv-section {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 24px;
    margin: 0px 16px;
    padding-top: 40px;

    & .h1-cv {
        color: darken($tertiary-color, 5%);
        letter-spacing: 16px;
        font-weight: 500;
        text-align: center;
        position: absolute;
        top: -46px;
        left: 50%;
        transform: translateX(-50%);
    }

    & .section-headline {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;

        & .h3-inline {
            color: $secondary-color;
            @include font-Didot;
            padding-left: 8px;
        }

        & img {
            position: absolute;
            width: 60px;
            height: auto;
            right: -32px;
        }

        & span {
            position: absolute;
            height: 1.5px;
            background-color: $secondary-color;
            width: 100%;
            // width: calc(100% - 36px);
            top: 19px;
            right: 0px;
        }
    }
}


.cv-section .each-job {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 24px;


    & .date {

        font-size: 14px;
        font-weight: 100;
        list-style: none;
    }

    & .job-details {
        display: flex;
        flex: 1;
        position: relative;
        flex-direction: column;
        gap: 4px;
        padding-left: 16px;

        & .h5-cv {
            color: $tertiary-text;
            font-weight: 800;
        }

        & .address {
            padding-left: 24px;
        }

        & img {
            width: 18px;
            height: 18px;
            position: absolute;
            top: 44px;
            left: 16px;
        }
    }
}


.cv-section .skills {
    display: flex;
    flex-direction: column;
    gap: 40px;

    & h5 {
        color: $text-color;
        background-color: $tertiary-color;
        padding: 12px 16px;
    }

    .hard-skills {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin: 0px 16px;

        & .skill-label {
            color: $secondary-color;
            font-weight: 500;
            padding-left: 16px;
        }

        & .each-skill {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding-bottom: 12px;

            & ul {
                padding-left: 20px;
                display: flex;
                flex-direction: column;
                padding-left: 20px;
                gap: 4px;

                & .language {
                    font-size: 14px;
                    list-style-type: none;
                }

                & .text {
                    list-style-type: none;
                    padding-left: 16px;

                }

                & li {
                    list-style: none;
                }
            }
        }
    }

    & .soft-skills {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin: 0px 16px;

        & ul {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding-left: 32px;


        }
    }


}




// IPAD (VERTICAL)
@media (min-width: 48rem) {

    .about .introduction-bg .introduction-text {

        padding-left: 72px;
        padding-right: 72px;
    }

    .introduction-bg .introduction .h1-about {
        top: 114px;
        left: calc(50% - 70px);
        ;
    }

    .introduction-bg .introduction .h1-about-me {
        top: 114px;
        left: calc(50% + 80px);
    }


    .cv-section {
        margin: 0px 40px;

        & .section-headline {
            // justify-content: center;

            & .h3-inline{
                padding-left: 270px;
            }

            & img {

                // transform: scale(1.2);
                // right: -20px;
                display: none;
            }

        }
    }

    .about .h1-cv{
        top: -60px;
    }



    .cv-section .each-job {
        display: flex;
        flex-direction: row;
        gap: 32px;

        & ul {
            display: flex;
            width: 200px;
            justify-content: flex-end;

            & .date {
                justify-content: right;

            }
        }
    }
}



// DESKTOP
@media (min-width: 56rem) {

    .about .about-title {
        position: absolute;
        // z-index: 3;
        height: 180px;
        width: 100vw;
        left: 320px;
        top: 0;
        justify-content: center;
        align-items: center;

        .h1-about {
            position: absolute;
            top: 64px;
            left: 52px;
            transform: none;

        }
    }


    .about .introduction {
        align-items: flex-end;
        padding-top: 220px;
        max-width: 900px;

        & .main-pic {
            position: absolute;
            top: 250px;
            left: -4px;
        }

        & .h1-about-me {
            color: $tertiary-color;
            top: 116px;
            left: 200px;
        }

        p {
            text-align: left;
            width: 520px;
            // padding-right: 88px;
        }

        .introduction-text {
            padding-bottom: 80px;
            padding-top: 40px;
            padding-right: 24px;
        }
    }


    .about .curriculum {
        margin-top: 180px;

        .h1-cv {
            top: -73px;
            letter-spacing: 24px;
        }
    }


    .cv-section {

        & .section-headline {

            & img {
                display: none;
            }

            & .h3-inline {
                padding-left: 340px;
            }

            & span {
                top: 27px;
            }
        }

        & .each-job {
            padding-left: 0px;
            max-width: 800px;

            & ul {
                margin-left: 98px;
            }
        }

        & .skills {
            flex-direction: row;
            width: 100%;

            & .hard-skills {
                width: 100%;
            }

            & .soft-skills {
                width: 100%;
            }
        }

    }
}