@import 'variables';

.contact-page {
    color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    gap: 88px;
    // gap: 24px;
}

.contact-img {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    gap: 12px;
    width: 100%;
    background-color: $tertiary-color50;

    & .img-mobile {
        width: calc(100% - 56px);
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 8px;
        max-height: 240px;
        max-width: 600px;

        // position: fixed;
        // top: 140px;
        // left: 50%;
        // transform: translateX(-50%);

        & img {
            flex: 1 1 50%;
            max-width: 50%;
            height: auto;
            object-fit: cover;
            object-position: center;
        }

        & .contact-img1 {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }

        & .contact-img2 {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    }

    & img {
        // width: 100%;
        // max-width: 600px;
        // height: fit-content;
        height: auto;
        width: 100%;
    }
}

h1.h1-mobile-contactme {
    position: absolute;
    top: -38px;
    left: 36px;
    color: $secondary-color;
    @include font-Aladin;
}

.h1-desktop-contact {
    display: none;
    @include font-Aladin;
    color: $secondary-color;
}

.h1-desktop-me {
    display: none;
    @include font-Aladin;
    color: $tertiary-color;
}

.contact-page {

    & ul {
        list-style: none;
        width: 100%;
    }

}

.contact-form {
    background-color: $secondary-color;
    border-radius: 36px;
    padding-top: 48px;
    z-index: 1;
    position: relative;
    display: flex;

    width: 100%;
    max-width: 1060px;

    & h3 {
        margin: 0px 8px;
        // padding-top: 48px;
        padding-bottom: 16px;
    }
}

form {
    display: flex;
    position: relative;
    flex-direction: column;
    // align-items: flex-end;
    gap: 16px;
    padding-bottom: 72px;
    // width: 100%;
    background-color: $secondary-color;
    max-width: 420px;
    margin: 0px 36px;
    width: 100%;

    .img-desktop {
        display: none;
    }

    & h4 {
        padding-bottom: 12px;
    }

    .contact-form-input {
        display: flex;
        flex-direction: column;
        gap: 4px;
        justify-content: space-between;
        width: 100%;

        & label {
            padding-left: 8px;
        }

        & input,
        & textarea {
            width: 100%;
            background-color: $secondary-color;
            // outline: none;
            border: 1px solid $primary-color;
            border-radius: 20px;
        }

        & input {
            height: 32px;
        }

        & textarea {
            height: 76px;
        }


    }

    & .contact-submit-btn {
        background-color: $tertiary-color;
        color: $tertiary-text;
        font-size: 16px;
        letter-spacing: 2px;
        border: none;
        border-radius: 20px;
        padding: 16px 28px;
        margin-top: 8px;
        width: fit-content;
        box-shadow: inset 0 0 8px rgba(0, 0, 0, .2);
        @include transition-ease;

        &:hover {
            cursor: pointer;
            transform: scale(1.04);
            box-shadow: none;
            background-color: lighten($tertiary-color, 4%);
        }
    }
}


// IPAD
@media (min-width: 48rem) {

    .contact-page form {
        margin: 0px 72px;
    }

    h1 {
        left: 72px;
    }

    h1.contact-h1-me {
        left: 232px;
    }

    h1.h1-mobile-contactme {
        left: 72px;
        top: -50px;
    }
}



// DESKTOP
@media (min-width: 56rem) {

    .contact-img {
        height: 100px;
        padding: 0px auto;
    }

    .contact-form .img-desktop {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 12px;
        width: 340px;
        position: absolute;
        top: 78px;
        left: -426px;

        & img {
            width: 130px;
            height: auto;
            object-fit: contain;
        }

        & .contact-main-img {
            width: 120px;
            height: auto;
            object-fit: contain;
            border-top-left-radius: 20px;
        }

        & .contact-img2 {
            border-top-right-radius: 20px;
        }

        & .contact-img3 {
            border-bottom-left-radius: 20px;
        }

        & .contact-img4 {
            border-bottom-right-radius: 20px;
        }
    }

    .contact-img .img-mobile {
        display: none;
    }




    .contact-form {
        display: flex;
        justify-content: center;
        padding-top: 76px;

        form {
            width: calc(100% - 500px);
            margin-left: 352px;
            margin-right: 0px;
            // width: 400px;
        }
    }

    .h1-mobile-contactme {
        display: none;
    }

    .h1-desktop-contact {
        display: block;
        position: absolute;
        top: -145px;
        left: -184px;
    }

    .h1-desktop-me {
        display: block;
        position: absolute;
        top: -44px;
        left: -180px;
    }
}


