@import 'variables';

.ivegan-page {
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding-top: 60px;
    max-width: 1280px;
    // justify-content: center;
    // align-items: center;
    background-color: $ivegan-bg;

    .h3-ivegan {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: $ivegan-h3;
        width: 300px;
        gap: 8px;
        // padding-left: 16px;
        padding: 16px 24px;

        & h3 {
            color: $primary-color;

            width: fit-content;
            white-space: nowrap;
            letter-spacing: 4px;
        }

        & span {
            color: $primary-color;
        }
    }
}

.ivegan-start2impact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    & p {
        color: $ivegan-color;
    }

    & img {
        width: 100%;
        max-width: 160px;
        height: auto;
        padding: 0px 8px;


    }
}

.ivegan-heading {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 24px;
    margin: 16px;

    & p {
        margin: 0px 16px;
        max-width: 500px;
        text-align: center;
    }
}


.ivegan-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 16px;

    .ivegan-h1 {
        max-width: 400px;
        width: 100%;
        height: auto;
        object-fit: contain;
        // padding-top: 44px;
        padding-right: 20px;
        padding-left: 20px;
    }


}


.ivegan-introduction,
.ivegan-client {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & p {
        margin: 0px 32px;
    }

}

.client-text {
    display: flex;
    flex-direction: column;
    gap: 0px;
}



.h3-ivegan .ivegan-line {
    // position: absolute;
    // display: block;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: $ivegan-color;
}

.client-part1,
.client-part2 {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & img {
        padding: 0px 32px;
        max-width: 600px;
    }

    & a {
        padding: 0px 32px;
    }
}



// IPAD
@media (min-width: 48rem) {

    .ivegan-introduction,
    .ivegan-client,
    a.h3-ivegan {
        margin: 8px 40px;
    }

    .ivegan-page a.h3-ivegan {
        flex-direction: row;
        justify-content: space-between;
    }

    .ivegan-page .h3-ivegan {
        width: 500px;
    }

    .ivegan-page .ivegan-project {

        & .ivegan-start2impact {
            flex-direction: row;
        }
    }

    .ivegan-client .client-text {
        flex-direction: row;
        width: 100%;

        & .client-part1 {
            width: 100%;
            max-width: 50%;
        }

        & .client-part2 {
            width: 100%;
        }
    }
}

// .ivegan-details {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background-color: $ivegan-color;

//     h2 {
//         color: $primary-color;
//         padding: 12px;
//         letter-spacing: 4px;
//     }

//     &:hover {
//         border: 4px solid $ivegan-color;
//         box-shadow: 0px 0px 4px rgb(0, 0, 0.25);
//     }
// }

@media (min-width: 56rem) {
    .ivegan-page .h3-ivegan {
        width: 700px;
    }

    .ivegan-introduction,
    .ivegan-client,
    a.h3-ivegan {
        margin: 12px 80px;
    }

}






////////////////////////////////////
// UX/UI Works // ANALISI E STUDIO

.ivegan-analisis-page {
    display: flex;
    flex-direction: column;
    gap: 52px;
    width: 100%;
}

.analisis-heading {
    display: flex;
    // position: fixed;
    // z-index: 3;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    background-color: $ivegan-h3;
    width: 100%;
    // height: 120px;
    height: auto;

    h2 {
        color: $primary-color;
        margin-left: 28px;
        padding-top: 72px;
        padding-bottom: 16px;
        padding-left: 16px;
        letter-spacing: 6px;
    }
}

.analisis-introduction {
    display: flex;
    flex-direction: column;
    margin: 0px 36px;
    gap: 20px;

    & ul{
        padding-left: 20px ;
    }

    .introduction-steps {
        display: flex;
        position: relative;
        flex-direction: row;
        gap: 20px;

        img {
            width: 20px;
            height: 20px;
        }

        .step-info {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        ul {
            padding-left: 16px;
        }

        & h4{
            color: $ivegan-h3;
        }

    }
}

.analisis-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: auto;
    flex: 1;
    min-width: 0;
    height: auto;
    width: 100%;
    overflow-x: hidden;

    p {
        padding: 0px 40px;
    }

    ul {
        padding: 0px 40px;

        li {
            margin-left: 16px;
        }

    }
}

.h3-analisis {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 16px;
    padding: 12px 0px;
    margin-left: 36px;

    & h3 {
        width: fit-content;
        white-space: nowrap;
        letter-spacing: 2px;
    }

    & .ivegan-line {
        width: 100%;
        height: 2px;
        background-color: $text-color;
    }

    & .bg-section {
        position: absolute;
        background-color: rgba(77, 175, 80, .12);
        height: 54px;
        width: 370px;
        top: 2px;
        left: -16px;
    }
}

.analisis-section .details-section,
.analisis-section .details-section-x {
    display: flex;
    flex-direction: column;
    gap: 32px;
    // margin-left: 40px;
    // padding: 0px 40px;

    .row-details-section,
    .moredetails-section {
        display: flex;
        flex-direction: column;
        height: auto;
        flex: 1;
        min-width: 0;
        gap: 16px;
        padding: 0px 40px;

        & p {
            max-width: 100%;
            padding: 0px;
        }

        .sitemap-img {
            width: 100%;
            max-width: 600px;
            height: auto;
            box-shadow: 0px 0px 4px rgb(0, 0, 0.25);
        }

        .section-text {
            display: flex;
            flex-direction: column;
            gap: 4px;
            margin: 0px 12px;
        }

        & .linked-img-pdf{
            margin: 0px;
        }
    }

}



.linked-img-pdf {
    position: relative;
    display: flex;
    text-decoration: none;
    color: $primary-color;
    max-width: 600px;
    height: auto;
    box-shadow: 0px 0px 4px rgb(0, 0, 0.25);
    margin:  0px 40px;



    img {
        display: block;
        width: 100%;
        height: auto;
    }

    .img-hover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 1;
        transition: opacity 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1em;
        box-sizing: border-box;
        font-weight: bold;
        font-size: 12px;
        line-height: 1.2;
        
    }
}

.analis-section-bis{
    display: flex;
    flex-direction: column;
    gap: 52px;
}

// IPAD
@media (min-width: 48rem) {

    .analisis-heading {
        h2 {
            margin-left: 52px;
        }

        .back-btn-project {
            margin: 0px 40px;
        }
    }

    .analisis-introduction {
        margin: 0px 80px;


    }

    .analisis-section {
        padding: 0px 60px;

        & .h3-analisis {
            width: auto;
            margin-right: 0px;
            margin-left: 0px;

        }

        ul {
            margin-left: 48px;
            margin-right: 20px;
            padding: 0px;
        }
        
    }


    .analisis-section .details-section {

        flex-direction: row;
        gap: 0px;

        p {
            width: 100%;
            margin-right: 0px;
        }

        .moredetails-section {
            justify-content: flex-start;
        }
    }

    .analisis-section .details-section-x {

        flex-direction: row-reverse;
        align-items: flex-start;
        margin-right: 20px;
        margin-left: 20px;
        gap: 32px;

        & .linked-img-pdf{
            flex: 1;
            padding: 0px;
            margin: 0px;
        }

        & p {
            width: 100%;
            flex: 1;
            padding: 0px;
        }
    }

    .analisis-section .row-details-section {
        display: flex;
        flex-direction: row;
    }
}


// DESKTOP
@media (min-width: 56rem) {

    // .analisis-heading {
    //     align-items: center;
    //     justify-content: flex-end;
    //     height: 80px;

    //     h1 {
    //         margin-left: 0px;
    //         padding-top: 16px;
    //         padding-left: 0px;
    //         padding-bottom: 20px;
    //     }

    //     .back-btn-project {
    //         margin: 0px 60px;
    //     }
    // }

    .analisis-heading{
        align-items: center;

        & h2{
            padding-bottom: 24px;
            padding-left: 0px;
            margin-left: 0px;
        }
    }

    .analisis-introduction {
        margin: 0px 120px;
    }

    .analisis-section{
        padding: 0px 80px;
    }

    .analis-section-bis {
        display: flex;
        flex-direction: row;
        gap: 0px;
        padding: 0px 44px;

        & .analisis-section {
            padding: 0px 36px;

            & ul {
                margin: 0px;
            }
        }
    }



    .ivegan-analisis-page .analisis-section .details-section{
        gap: 0px;
    }

    .ivegan-analisis-page .analisis-section .details-section-x {
        gap: 52px;
    }

    .linked-img-pdf .img-hover {
        opacity: 0;
    }

    .linked-img-pdf:hover .img-hover {
        opacity: 1;
    }

}