@import 'variables';


.logoname img {
    width: 32px;
    height: 32px;
}

.logoname {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    // width: 100%;

}

header ul li {
    text-align: center;
}

header ul a {
    display: block;
    padding: 20px;
    @include transition-ease;
    color: $primary-color;

    &:hover {
        color: $primary-color;
        font-size: 18px;
    }
}


.header .menu-nav {
    background-color: $secondary-color;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    top: -10px;
    right: -110%;
    transition: right .3s ease-out;
    z-index: 5;
}

.header .menu-icon {
    padding: 24px;
    z-index: 6;
    cursor: pointer;
}

.header .menu-icon .nav-icon {
    position: relative;
    display: block;
    top: 4px;
    width: 24px;
    height: 2px;
    background-color: $text-color;
    @include transition-ease;
    z-index: 7;

    &::before {
        content: "";
        position: absolute;
        top: 8px;
        width: 24px;
        height: 2px;
        background-color: $text-color;
        @include transition-ease;
        
    }

    &::after{
        content: "";
        position: absolute;
        top: -8px;
        width: 24px;
        height: 2px;
        background-color: $text-color;
        @include transition-ease;

    }
}

.header .menu-btn {
    position: absolute;
    display: none;

    &:checked ~ .menu-icon .menu-nav {
        right: 0;

    }

    &:checked ~ .menu-icon .nav-icon {
        background-color: transparent;

        &::before {
            transform: rotate(45deg);
            top: 0;
            background-color: $primary-color;
            
        }

        &::after{
            transform: rotate(-45deg);
            top: 0;
            background-color: $primary-color;
        }


    }
}

@media (min-width: 56rem) {
    .header .menu-icon .menu-nav {
        display: flex;
        flex-direction: row;
        position: static;
        width: fit-content;
        height: auto;
        left: auto;
        top: auto;
        background-color: transparent;
        gap: 40px;

        &__link{
            color: $text-color;
            padding: 0 8px;

            &:hover{
                color: $secondary-color;
                font-size: 18px;
            }
        }
    }

    .header .menu-icon .nav-icon,
    .header .menu-icon .nav-icon::before,
    .header .menu-icon .nav-icon::after{
        display: none;
    }
}