@import 'variables';

// * {
//     padding: 0;
//     margin: 0;
//     box-sizing: border-box;
// }

.allmyworks {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    // overflow-x: hidden;
}

.mywork-title {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    background-color: transparent;

    & .h1-mywork {
        color: $secondary-color;
        @include font-Aladin;
        text-align: center;
        padding: 0px 12px;
        margin-top: 40px;
    }
}

.works {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    background-color: $tertiary-color;
    border-radius: 36px;
    padding: 36px;

    max-width: 436px;

    a {
        width: fit-content;
    }

    & .box {
        display: flex;
        position: relative;
        // padding: 16px;
        margin: 16px;
        // box-shadow: 0px 0px 10px rgba(255, 255, 255, .25);
        @include transition-ease;
        max-width: 300px;
        border-radius: 20px;
        overflow: hidden;

        &:hover {
            box-shadow: 0px 0px 8px rgba(0, 0, 0.25);
            transform: scale(1.05);

            &>h3 {
                font-size: 22px;
            }
        }

        img {
            // width: 300px;
            // height: 300px;
            height: auto;
            width: 100%;
            object-fit: contain;
        }
    }

    & h3 {
        text-align: center;
        color: $primary-color;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include transition-ease;
    }
}



// IPAD
@media (min-width: 48rem) {
    .works {
        margin: 0px 52px;
        max-width: 480px;
    }

    // .allmyworks .h1-mywork{
    //     margin-top: 60px;
    // }

    .mywork-title::after {
        right: auto;
        left: 0;
        width: 70vw;

    }
}


// // DESKTOP
@media (min-width: 56rem) {

    .mywork-title {
        gap: 40px;

        .h1-mywork {
            margin-top: 146px;
        }

        &::before{
            height: 200px;
            width: 90vw;
            right: 0;
            left: auto;
        }

        &::after {
            right: auto;
            left: 0;
            width: 72vw;
        }
    }

    .works{
        max-width: 820px;
    }
}



// BIG DESKTOP
@media (min-width: 90rem) {

    .works {
        flex-direction: row;
        max-width: none;
    }
}