@import 'variables';
@import 'uxuiwork';

.allsuppwork {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 16px;
    gap: 40px;
    width: 100%;

    & .title {
        width: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 24px;
        margin: 0px 16px;
    }

    & .supp-box1,
    & .supp-box2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        border-radius: 20px;
        @include transition-ease;

        &:hover {
            box-shadow: 0px 0px 8px rgba(0, 0, 0.25);
            transform: scale(1.04)
        }

        & h4 {
            max-width: 300px;
            width: 100%;
            height: auto;
            object-fit: contain;
            padding-top: 32px;
            padding-right: 28px;
            padding-left: 28px;
            text-align: center;
            letter-spacing: 2px;
        }

        & img.orizonlogo {
            width: 180px;
            height: auto;
            padding: 12px;
        }

        & img.work-start2impact {
            width: 100px;
            height: auto;
            padding: 0px 8px;
        }

        & p {
            font-size: 12px;
            padding-bottom: 20px;
            padding-top: 12px;
        }
    }

    .supp-boxex {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    & .supp-box1 {
        background: linear-gradient(to right, rgba(78, 134, 38, 0.4), rgba(244, 225, 115, 0.4));
        box-shadow: inset 0 0px 8px rgba(0, 0, 0, 0.2);

        & h4 {
            color: black;
        }

        & p {
            color: rgb(78, 134, 38);
        }
    }

    & .supp-box2 {
        background-color: $primary-color;
        box-shadow: inset 0 0px 8px rgba($secondary-color, 0.4)
    }

}

// IPAD
@media (min-width: 48rem) {
    .orizon-bg .orizon-page {
        padding-left: 20px;
        padding-right: 20px;
    }

    .allsuppwork .supp-boxex {
        display: flex;
        flex-direction: row;
        gap: 32px;
        margin: 0px 40px;
    }
}

// DESTOP LARGE
@media (min-width: 90rem) {
    .supp-box1,
    .supp-box2 {
        width: 400px;
    }

    .allsuppwork .supp-boxex {
        gap: 44px;
        margin: 0px 80px;
    }
}


// ORIZON PROJECT (GRAFICA) //

.orizon-bg {
    background: linear-gradient(150deg,
            rgba(79, 134, 38, 0.25) 5%,
            rgba(244, 225, 115, 0.3) 35%,
            rgba(244, 225, 115, 0.3) 100%);
}

.supp-intro-wrapper {
    position: relative;
    width: 100%;
}

.orizon-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;

    .orizon-h2 {
        max-width: 500px;
        width: 100%;
        height: auto;
        object-fit: contain;
        text-align: center;
        letter-spacing: 4px;
        color: darken(rgb(0, 117, 176), 15%);
        @include font-Aladin;
    }

    .orizon-start2impact {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;

        & p {
            padding-top: 0px;
            margin: 0px 0px;
        }

        img {
            width: 100%;
            max-width: 160px;
            height: auto;
            padding: 0px 8px;
        }
    }

    & p {
        padding-top: 32px;
        text-align: center;
        max-width: 600px;
    }
}

.orizon-page {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 60px;
    max-width: 1280px;
    align-items: center;
    margin-bottom: 40px;

    .h3-orizon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 16px;
        padding-left: 16px;
        padding-bottom: 12px;

        & h3 {

            width: fit-content;
            white-space: nowrap;
            font-weight: 800;
            color: darken(rgb(0, 117, 176), 10%);
        }

        .orizon-line {
            top: 50%;
            width: 100%;
            height: 2px;
            background-color: darken(rgb(0, 117, 176), 10%);
        }
    }

    p {
        margin: 0px 24px;
    }

}

.orizon-introduction,
.orizon-client {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;

    & .client-text {
        display: flex;
        flex-direction: column;
        gap: 8px;

        & .h4-orizon {

            margin-left: 24px;
            letter-spacing: 2px;
            color: $ivegan-h3;
        }

        & p {
            margin-bottom: 20px;
        }
    }

    & ul {
        padding-left: 32px;

        li {
            padding: 0px 4px;
        }
    }
}


// IPAD
@media (min-width: 48rem) {

    .orizon-introduction,
    .orizon-client,
    .orizon-details {
        padding: 16px 24px;

        .client-text {
            margin: 0px 16px;
        }

        & p {
            margin: 0px 32px;
        }

        & ul {
            padding-left: 60px;
            padding-right: 32px;
        }
    }

    .orizon-page .orizon-intro {
        padding: 0px 40px;

        & .orizon-start2impact {
            flex-direction: row;
        }
    }
}

// DESKTOP
@media (min-width: 56rem) {
    .orizon-page {
        margin: 16px 0px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .orizon-client .client-text {
        margin: 0px 24px;
    }

    .orizon-introduction {
        & p {
            margin: 0px 44px;
        }

        & ul {
            padding-left: 80px;
        }
    }
}


// DESKTOP LARGE
@media (min-width: 90rem) {
    .orizon-introduction,
    .orizon-client,
    .orizon-details {
        margin: 16px 64px;
    }

    .orizon-page a {
        margin-left: 100px;
    }
}



// LOOKBOOK PROJECT (COPYWRITING) //
.lookbook-bg {
    background-color: rgba(226, 189, 67, 0.2);
}

.lookbook-h2 {
    max-width: 500px;
    width: 100%;
    height: auto;
    object-fit: contain;
    text-align: center;
    letter-spacing: 4px;
    @include font-Aladin;
    color: $secondary-color;
}

.h3-lookbook {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 16px;
    padding-left: 16px;
    padding-bottom: 12px;

    & h3 {
        width: fit-content;
        white-space: nowrap;
        font-weight: 800;
        color: $secondary-color;
    }

    .lookbook-line {
        top: 50%;
        width: 100%;
        height: 2px;
        background-color: $secondary-color;
    }
}

.h4-lookbook {
    margin-left: 24px;
    letter-spacing: 2px;
    color: rgb(198,156,18);
}