@import 'variables';

.works-bg {
    display: flex;
    flex-direction: column;
    background-color: $tertiary-color50;
    height: auto;
}

.uxui-main {
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
}

.alluxuiworks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 16px;
    gap: 40px;
    width: 100%;

    & .title {
        width: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 24px;
        margin: 0px 16px;
    }
}

.h1-works {
    padding: 0px 0px;
    @include font-Aladin;
    letter-spacing: 4px;
    text-align: center;
    color: darken($tertiary-color, 50%);
    width: 100%;

    @media (min-width: 56rem) {
        font-size: 64px;
        letter-spacing: 6px;
    }
}

.uxui-title {
    display: flex;
    justify-content: center;
}

.ivegan-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 20px;
    height: auto;
    padding: 16px;

    background-image: url(/assets/img/img-ivegan/veg-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @include transition-ease;

    &:hover {
        box-shadow: 0px 0px 8px rgba(0, 0, 0.25);
        transform: scale(1.04);
    }

    & .ivegan-title {
        max-width: 272px;
        width: 100%;
        height: auto;
        object-fit: contain;
        padding-top: 32px;
    }

    & img.work-start2impact {
        width: 120px;
        height: auto;
        padding: 0px 8px;
    }

    & span {
        color: $primary-color;
        font-size: 12px;
        padding-bottom: 20px;
        padding-top: 12px;
    }
}


// IPAD
@media (min-width: 48rem) {

    .ivegan-box {
        margin: 0px 80px;
    }

    .ivegan-box img.title {
        padding-top: 52px;
    }

    .back-btn {
        top: 0px;
        left: 40px;
    }
}