@import 'variables';

.alluxuiworks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 16px;
    padding-top: 60px;
    gap: 40px;
}

.title {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 24px;
    margin: 0px 16px;
}

.uxui-title {
    display: flex;
    justify-content: center;

    & h1 {
        padding: 0px 12px;
    }
}



.ivegan-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1000px;

    background-image: url(/assets/img/veg-background2.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;

    &:hover {
        box-shadow: 0px 0px 10px rgba(0, 0, 0.25);
    }


    & .ivegan-title {
        max-width: 300px;
        width: 100%;
        height: auto;
        object-fit: contain;
        padding-top: 44px;
        padding-right: 20px;
        padding-left: 20px;
    }

    & .uxui-start2impact {
        display: flex;
        padding: 0px 24px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        & p {
            color: $primary-color;
            text-align: center;
            padding: 0px 8px;
        }

        & img {
            width: 160px;
            height: auto;
            padding: 0px 8px;
        }
    }

    & a {
        color: $primary-color;
        font-size: 12px;
        padding-bottom: 24px;
    }
}




// SMALL MOBILE
@media (max-width: 26rem) {
    .ivegan-box {

        background-image: url(/assets/img/veg-background2.png);
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

// IPAD
@media (min-width: 48rem) {

    .ivegan-box {
        margin: 0px 80px;
    }

    .ivegan-box img.title {
        padding-top: 52px;

    }

    .back-btn {
        top: 0px;
        left: 40px;
    }
}