$primary-color: white;


$secondary-color: rgb(134, 42, 0);
$secondary-color20: rgba(169, 41, 0, .2);

$tertiary-color: rgb(240, 230, 205);
// $tertiary-color50: rgba(240, 230, 205, .5), white;
$tertiary-color50: rgb(247, 243, 230);
$tertiary-text: rgb(100, 78,18);
$text-color: rgb(84, 62, 2);


$ivegan-color: rgb(58, 125, 60);
$ivegan-h3: rgb(7,53,8);
$ivegan-bg: rgba(232, 242, 232, .7);



$font-weights: (
    "regular":400,
    "medium":500,
    "bold": 700
);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // overflow-y: hidden;
}

@mixin transition-ease {
    transition: all .3s ease-out;
}


@mixin font-Didot {
    font-family: "GFS Didot", serif;
    font-weight: 400;
    font-style: normal;
    // letter-spacing: 1px;
}

@mixin font-Aladin{
  font-family: "Aladin", system-ui;
  font-weight: 400;
  font-style: normal;

}